h1 {
  color: rgb(194, 59, 59);
  text-align: center;
}

body {
  background-image: url("../img/Recipeeeeee.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80%vh;
  font-size: 2.5em;
  background-position: center;
  margin-top: auto;
  margin-left: auto;
}

#footer {
  color: #C37D92;
  font-size: small;
  font-weight: bold;
}

#header {
  font-size: small;
  color: black;
  margin-top: 2%;
}
#action {
  text-align: center;
  color: white;
}
